body {
  background: #FF7A7A;
  font-family: 'Poppins', sans-serif;
  color:white;
  padding: 5% 0;
  position: relative;

}
body::before {
  content: '';
  background:url('../images/bg-intro-desktop.png') repeat;
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;

}
label {
  display: none;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}
/* TITLE */
.title_heading {
  font-weight: bold;
  font-size: 3rem;
}
.title_text {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.5;
}

/* CTA */
#cta {
  text-align: center;
  background: #6055A5;
  padding: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.free7days {
  font-size: 1rem;
  font-weight: 600;
}

.dollar {
  font-weight: 400;
}

/* TERMS AND CONDITIONS */
.terms {
  font-size: 0.7rem;
  color: #B9B6D3;
  text-align: center;
  margin-top: 1rem;
}
.terms_span {
  color:#FF7A7A;
  font-weight: bold;
}

/* FOOTER SECTION */
footer {
  text-align: center;
}
/* SIGN-UP FORM */
form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);;
}
input[type=text],
input[type=password],
input[type=email] {
  padding: 1.7rem 0 1.7rem 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

/* BUTTON */
.btn_claim {
  padding: 1rem 0;
}

@media (max-width:766px){
  body {
    text-align: center;
  }
}

@media (max-width:466px){
  .container {
    padding: 4rem 1.5rem 3rem 1.5rem;
  }

  .title_heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .title_text {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}
